html{
    padding: 0px;
    height: 100%;
}
body{
    margin: 0px;
    height: 100%;
}
iframe{
    border: none;
}
.root{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    width: 100%;
    height: 100px;
}
.content{
    width: 100%;
    flex:1;
    position: relative;
}
.card4{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 0px 10px 10px 0px ;
    background-color: #C8ADA7;
    background-image: linear-gradient(to right,#C9ADA7,#F2E9E4);
}
.card3{
    position: absolute;
    width: calc(100% - 20px);
    height: 100%;
    background-image: linear-gradient(to right,#9A8C98,#C9ADA7);
    border-radius: 0px 10px 10px 0px ;
}
.card2{
    position: absolute;
    width: calc(100% - 40px);
    height: 100%;
    background-image: linear-gradient(to right,#4A4E69,#9A8C98);
    border-radius: 0px 10px 10px 0px ;
}
.header-left{
    display: flex;
    flex: 7;
    height: 100px;
}
.header-right{
    
    display: flex;
    flex: 6;
    height: 100px;
}
.header-tab{
    border-radius: 10px 10px 0px 0px ;
    height: 85px;
    width: 150px;
    margin-top: 15px;
    
}
.header-tab-1{
    z-index: 6;
    background-image: linear-gradient(to right,#393B56,#3D405B);
}
.header-tab-2{
    z-index: 8;
    position: relative;
    left: -20px;
    background-image: linear-gradient(to right,#7F7788,#857C8C);
}
.header-tab-3{
    z-index: 7;
    position: relative;
    left: -40px;
    background-image: linear-gradient(to right,#BCA4A3,#C0A7A4);
}
.header-tab-3-adjustz{
    z-index: 9;
}
.header-tab-4{
    z-index: 6;
    position: relative;
    left: -60px;
    background-image: linear-gradient(to right,#EADDD8,#EEE3DE);
}
.header-tab-text{
    margin: 0;
    font-family: 'source-han-sans-japanese', sans-serif;
    color: white;
    margin-left: 30px;
}
.header-tab-text-adjust{
    margin-top: 20px;
}
.margin-adjust{
    margin-left: 40px;
}
.header-tab-select{
    z-index: 10;
}
.card-select{
    z-index: 10;
}
.logo{
    flex: 1;
    position: relative;
    height: 80px;
    margin-top: 15px;
    left: 100px;
}
.searchbar{
    flex: 1;
    position: relative;
    height: 70px;
    margin-top: 20px;
    
}
.searchbar-border{
    width: 350px;
    height: 60px;
    border: 2px solid;
    border-radius: 10px;
}
.searchbar-input{
    width: 280px;
    height: 50px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #BBBBBB;
    border-radius: 10px;
    color: #BBBBBB;
    
}
.searchbar-button-border{
    width: 50px;
    height: 50px;
    border-left: 1px solid;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}
.searchbar-button{
    width: 29px;    
    height: 40px;
    margin-left: 10px;
    background-color: white;
    border:none;
    background-image: url(../image/ze-search\ 1.svg);
} 
.logo-text-jp{
    margin: 0px;
    font-size: 28px;
    font-family: 'source-han-sans-japanese', sans-serif;
    color: #666B92;
}
.logo-text-en{
    margin: 0px;
    font-size: 21px;
    font-family: 'source-han-sans-japanese', sans-serif;
    color: #666B92;
}