.header {
    width: 1440px;
    margin: 0 auto;
    height: 104px;
    background-color: white;
    overflow: hidden;
}
.header .logoarea{
    width: 196px;
    height: 83px;
    margin: 10px 0 10px 117px;
    float: left;
    border: 1px solid;
}
.header .logoarea .logo{
    float: left;
    color: #666B92;
    font-size: 28px;
    font-family: 'source-han-sans-japanese', sans-serif;
    margin-top: 10px;
    text-align: center;
    font-weight: 550;
}
.header .logoarea .logoen{
    float: left;
    color: #666B92;
    font-size: 22px;
    font-family: 'source-han-sans-japanese', sans-serif;
   
}
.header .nav{
    float: left;
    margin-left: 25px;
    margin-top: 14px;
    
}
.header .nav ul li{
    float: left;
    list-style: none;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 10px 10px 0px 0px;
    background-color: #666B92;
    color:white;
    font-family: 'source-han-sans-japanese', sans-serif;
    font-size: 18px;
    
}
.header .nav .cur{
    background-color: #F0E6E1;
    background-image: linear-gradient(to right,#ECDFDA,#F0E6E1);
    position: absolute;
    left: 1193px;
    top: 15px;
    width: 150px;
    height: 92px;
    padding: 15px 2px 18px 34px;
    border-radius: 10px 10px 0px 0px;
    font-family: 'source-han-sans-japanese', sans-serif;
    font-size: 18;
    color: white;
}
.header .nav .homepage{
    width: 164px;
    height: 92px;
    position: absolute;


}
.voice{
    background-color: #F2E9E4;
}
.header .searchbar{
    border: 1px solid #BBBBBB;
    border-radius: 10px;
    float: left;
    height: 66px;
    width: 351px;
    background-color: white;
    margin-top: 27px;
    margin-left: 117px;
    text-align: center;
}
.header .searchbar input{
    float: left;
    width: 276px;
    height: 52px;
    margin-left: 9px;
    margin-top: 7px;
    border: 1px solid #BBBBBB;
}
.header .searchbar button{
    float: left;
    width: 29px;    
    height: 45px;
    margin-left: 18px;
    margin-top: 8px;
    padding-left: 5px;
    background-color: white;
    border:none;
    border-left:1px #BBBBBB solid;
    background-image: url(../image/ze-search\ 1.svg);
    
}
.content{
    background-color: #C8ADA7;
    background-image: linear-gradient(to right,#C9ADA7,#F2E9E4);
    width: 1440px;
    height: 912px;
    
    
}