<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/app.js"></script>
    <title>みんなのノート</title>
</head>

<body>
    
    <!-- <div id="test"></div> -->
    <div class="root">
        <div class="header header-disable" id="index-header">
            <div class="header-left">
                <div class="logo">
                    <p class="logo-text-jp">みんなのノート</p>
                    <p class="logo-text-en">Every One's Note</p>
                </div>
                <div class="searchbar">
                    <div class="searchbar-border">
                        <input type="search" placeholder="検索" class="searchbar-input">
                        <div class="searchbar-button-border">
                            <button type="button" class="searchbar-button"> </button>
                        </div>

                    </div>

                </div>
            </div>
            <div class="header-right">
                <!-- <button onclick="fun()">abc</button> -->
                <a class="header-tab header-tab-1 header-tab-select" href="#homepage">
                    <p class="header-tab-text header-tab-text-adjust">ホームページ</p>
                    <p class="header-tab-text">Home Page</p>
                </a>
                <a class="header-tab header-tab-2" href="#lecture">
                    <p class="header-tab-text header-tab-text-adjust margin-adjust">講義</p>
                    <p class="header-tab-text margin-adjust">Lecture</p>
                </a>
                <a class="header-tab header-tab-3" href="#note">
                    <p class="header-tab-text header-tab-text-adjust margin-adjust">ノート</p>
                    <p class="header-tab-text margin-adjust">Note</p>
                </a>
                <a class="header-tab header-tab-4" href="#mnnvoice">
                    <p class="header-tab-text header-tab-text-adjust">みんなの声</p>
                    <p class="header-tab-text">Comment</p>
                </a>
            </div>
        </div>
        <div class="content">
            <div class="card4 card">
                <iframe id="mnnvoice-frame" width="100%" height="100%"></iframe>
            </div>
            <div class="card3 card">
                <iframe id="note-frame" width="100%" height="100%"></iframe>
            </div>
            <div class="card2 card">
                <iframe id="lecture-frame" width="100%" height="100%"></iframe>
            </div>
            <div class="card1 card">
                <iframe id="search-frame" width="100%" height="100%"></iframe>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/layui.js"></script>
</html>
<script>
  
  layui.use('laypage', function(){
  var laypage = layui.laypage;
  
  //执行一个laypage实例
  laypage.render({
    elem: 'test' //注意，这里的 test1 是 ID，不用加 # 号
    ,count: 50//数据总数，从服务端得到
    // ,layout:['count','page','next','limit','refresh','skip']
    ,jump:function(p,first){
        console.log(p);
        console.log(first);
    }
  });
});

    //axios test


    window.showHeader = function (e) {
        $("#index-header").removeClass("header-disable");
        $(".header-tab-3").removeClass("header-tab-3-adjustz");
    }
    //to subpage
    window.toSearch = function (str) {
        $(".header-tab-3").removeClass("header-tab-3-adjustz");
        $("#index-header").addClass("header-disable");
        $(".card").removeClass("card-select");
        $(".header-tab-1").removeClass("header-tab-select");
    }
    window.toLecture = function (str) {
        showHeader();
        $(".card").removeClass("card-select");
        $(".card2").addClass("card-select");
        $(".header-tab").removeClass("header-tab-select");
        $(".header-tab-2").addClass("header-tab-select");
    }
    window.toNote = function (str) {
        showHeader();
        $(".card").removeClass("card-select");
        $(".card3").addClass("card-select");
        $(".header-tab").removeClass("header-tab-select");
        $(".header-tab-3").addClass("header-tab-select");
    }
    window.toVoice = function (str) {
        showHeader();
        $(".card").removeClass("card-select");
        $(".card4").addClass("card-select");
        $(".header-tab").removeClass("header-tab-select");
        $(".header-tab-4").addClass("header-tab-select");
        $(".header-tab-3").addClass("header-tab-3-adjustz");

    }
    function hashchange() {
        let hash = document.location.hash;
        if (hash === '#homepage') {
            window.toSearch();
        }
        if (hash === '#lecture') {
            window.toLecture();
        }
        if (hash === '#note') {
            window.toNote();
        }
        if (hash === '#mnnvoice') {
            window.toVoice();
        }
    }
    $(document).ready(function () {
        hashchange();
        //iframe分页效果

        document.getElementById("search-frame").src = "search"
        document.getElementById("lecture-frame").src = "lecture"
        document.getElementById("note-frame").src = "note"
        document.getElementById("mnnvoice-frame").src = "mnnvoice"
        //路由跳转


        window.addEventListener('hashchange', hashchange)
    });
    async function fun() {
        axios.post('api/reloc', {

            data: {
                ID: 12345
            }
        },
            {
                params: {
                    a: 12
                },
            }
        )
    }
    fun();


</script>