<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="root">
        <div class="header">
            <div class="header-left">
                <div class="logo"></div>
                <div class="searchbar"></div>
            </div>
            <div class="header-right">
                <div class="header-tab header-tab-1 header-tab-select"></div>
                <div class="header-tab header-tab-2"></div>
                <div class="header-tab header-tab-3"></div>
                <div class="header-tab header-tab-4"></div>
            </div>
        </div>
        <div class="content">
            <div class="card4 card">
                <iframe id="mnnvoice-frame" width="100%" height="100%"></iframe>
            </div>
            <div class="card3 card"></div>
            <div class="card2 card"></div>
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function(){
        
        // $('#reportFrame').src=window.location.host+"/home"
        document.getElementById("mnnvoice-frame").src="mnnvoice"
        $(".header-tab").click(function(e){
            $(".header-tab").removeClass("header-tab-select");
           // $(".header-tab-3").removeClass("header-tab-3-adjustz");
            $(e.currentTarget).addClass("header-tab-select");
            let classlist = e.currentTarget.className.split(" ");
            $(".card").removeClass("card-select");
            if(classlist.includes("header-tab-1")){
                $(".header-tab-3").removeClass("header-tab-3-adjustz");
            }
            if(classlist.includes("header-tab-2")){
                $(".card2").addClass("card-select");
            }
            if(classlist.includes("header-tab-3")){
                $(".card3").addClass("card-select");
            }
            if(classlist.includes("header-tab-4")){
                $(".header-tab-3").addClass("header-tab-3-adjustz");
                $(".card4").addClass("card-select");
            }
        })
});

</script>