<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/mnnvoice.css">
    <title>Document</title>
</head>
<body>
    <div class="content-iframe">
        <div class="content">
            <div class="content-left">
                <div class="lecture-list">
                    <div class="lecture-list-row" id="list-title">
                        <p class="lecture-list-p" id="list-title-p">講義目次/Lecture List:</p>
                    </div>
                    <div class="lecture-list-row"><p class="lecture-list-row-p">test</p></div>
                    <div class="lecture-list-row"><p class="lecture-list-row-p">test</p></div>
                    <div class="lecture-list-row"><p class="lecture-list-row-p">test</p></div>
                    <div class="lecture-list-row"><p class="lecture-list-row-p">test</p></div>
                    <div class="lecture-list-row"><p class="lecture-list-row-p">test</p></div>
                    <div class="lecture-list-row"><p class="lecture-list-row-p">test</p></div>
                    <div class="lecture-list-row"><p class="lecture-list-row-p">test</p></div>
                    <div class="lecture-list-row"><p class="lecture-list-row-p">test</p></div>
                    <div class="lecture-list-row" id="list-last"><p class="lecture-list-row-p">test</p></div>
                </div>
                <div class="pagenation">
                    <nav style="text-align: center; display:flex; justify-content: center;">
                        <ul style="display: flex; flex-direction: row; gap: 8px;">
                            <li style="width: 30px; height: 30px; list-style: none; background-color: lightgray; padding-top: 5px; border-radius:3px;"><a href="#" class="page-link" style="text-decoration: none; "><span area-hidden="true" style="color: gray;">&lt</span></a></li>
                            <li style="width: 30px; height: 30px; list-style: none; background-color: lightgray; padding-top: 5px; border-radius:3px;"><a href="#" class="page-link" style="text-decoration: none; "><span area-hidden="true" style="color: gray;">1</span></a></li>
                            <li style="width: 30px; height: 30px; list-style: none; background-color: lightgray; padding-top: 5px; border-radius:3px;"><a href="#" class="page-link" style="text-decoration: none; "><span area-hidden="true" style="color: gray;">2</span></a></li>
                            <li style="width: 30px; height: 30px; list-style: none; background-color: lightgray; padding-top: 5px; border-radius:3px;"><a href="#" class="page-link" style="text-decoration: none; "><span area-hidden="true" style="color: gray;">3</span></a></li>
                            <li style="width: 30px; height: 30px; list-style: none; background-color: lightgray; padding-top: 5px; border-radius:3px;"><a href="#" class="page-link" style="text-decoration: none; "><span area-hidden="true" style="color: gray;">4</span></a></li>
                            <li style="width: 30px; height: 30px; list-style: none; background-color: lightgray; padding-top: 5px; border-radius:3px;"><a href="#" class="page-link" style="text-decoration: none; "><span area-hidden="true" style="color: gray;">5</span></a></li>
                            <li style="width: 30px; height: 30px; list-style: none; background-color: lightgray; padding-top: 5px; border-radius:3px;"><a href="#" class="page-link" style="text-decoration: none; "><span area-hidden="true" style="color: gray;">&gt</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="content-right">
                <div class="comment-area">
                    <div class="comment-area-header"></div>
                    <div class="comment-area-content"></div>
                    <div class="comment-area-input">
                        <div class="comment-area-input-container">
                            <input type="text"  placeholder="メッセージ" class="comment-area-input-tag" id="input">
                        </div>
                        <div class="comment-area-input-button-container">
                            <button type="button" class="comment-button" >発送</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-content">
                <p class="footer-content-p" id="footer-content-p-spec">お問い合わせ</p>
                <p class="footer-content-p">よくある質問</p>
                <p class="footer-content-p">電話番号：010-00000000</p>
                <p class="footer-content-p">メールアドレス：support@minnano-nooto</p>
            </div>
        </div>
    </div>
</body>
</html>