<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="css/note.css">
    
    <title>note</title>
</head>
<body>
    <!--header parts-->
    <div class="header">
        <div class="logoarea">
            <p class="logo">みんなのノート</p>
            <p class="logoen">Every One's Note</p>
        </div>
        
        
        <div class="searchbar">
            <input type="search" placeholder="検索" >
            <button type="button"> </button>
        </div>
        <div class="nav">
            <div class="homepage">ホームページ<br>Home Page</div>
            <div class="class"></div>
            <div class="note"></div>
            <div class="cur">みんなの声<br>Every One's Voice</div>
            
            
            
        </div>
    </div>
    <div class="content"></div>
</body>

</html>