<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/search.css">
    <script src="/static/js/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <!-- <h1 class="animation">SEARCH FRAME</h1>
    <button id="button">AAA</button> -->
    <div class="search-content">
        <div class="upper">
            <div class="search-logo">
                <div class="logo-left">
                    <img src="/static/image/logoleft.png" alt="" id="logoleft" class="fade-in-left">
                </div>
                <div class="logo-right">
                    <img src="/static/image/logoright.png" alt="" id="logoright" class="fade-in-right">
                </div>
            </div>
            <div class="text-container">
                <div class="search-p fade-in-left">
                    <p class="index-para">岩手大学学生同士をONE TEAMに</p>
                    <p class="index-para">Make the Iwate University's Students</p>
                    <p class="index-para">became One Team</p>
                </div>
            </div>

        </div>
        <div class="lower">
            <div class="searchbar">
                <div class="searchbar-border">
                    <input type="search" placeholder="検索" class="searchbar-input" id="searchValue">
                    <div class="searchbar-button-border">
                        <button type="button" class="searchbar-button" id="button" title="button" href="#lecture"> </button>
                    </div>
                </div>
            </div>
            <div class="search-footer">
                <div class="footer-container fade-in-rooter">
                    <p class="rooter-p" id="rooter-p-spci">お問い合わせ</p>
                    <p class="rooter-p">よくある質問</p>
                    <p class="rooter-p">メールアドレス：support@minnano-nooto</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    //window.$=window.parent.$;
    $(document).ready(function () {

        $("#button").click(function (e) {
            //window.parent.store.set("searchValue",document.getElementById('searchValue').value);
            //window.parent.location.hash="#lecture";

            var searchValue = document.getElementById('searchValue').value;
            console.log("searchValue = ", searchValue)

            window.parent.store.set("searchvalue", searchValue);

            $.ajax({
                type : "POST",
                url  : "{% url 'lecture_app:lecture_base' %}",
                data : {searchValue:searchValue},
                success: function(data){
                    console.log("POST request successful", data);

                    var iframeId = "lecture-frame";

                    var iframeDocument = window.parent.document.getElementById(iframeId).contentWindow.document;

                    window.parent.location.hash="#lecture";

                    // HTMLを挿入
                    iframeDocument.open();
                    iframeDocument.write(data);
                    iframeDocument.close();
                },
                error: function(dat){
                    console.error("POST request failed", error);
                }
            })
        })
    })
 
</script>