<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/lecture.css">
    <script src="/static/js/jquery.min.js"></script>
    <title>Lecture</title>
</head>
<body>
    <div class="lecture-content">
        <div class="lecture-list-container">
            <div class="lecture-list-left-container">
                <div class="lecture-list">
                    <div class="lecture-list-row" id="list-head">
                        <p class="lecture-list-p" id="list-title-p">講義目次/Lecture List:</p>
                    </div>
                    <div class="lecture-list-row"></div>
                    <div class="lecture-list-row"></div>
                    <div class="lecture-list-row"></div>
                    <div class="lecture-list-row"></div>
                    <div class="lecture-list-row"></div>
                    <div class="lecture-list-row"></div>
                    <div class="lecture-list-row"></div>
                    <div class="lecture-list-row"></div>
                    <div class="lecture-list-row"></div>
                </div>
            </div>

            <div class="lecture-list-right-container">
                <div class="lecture-list">
                    <div class="lecture-list-row" id="list-head">
                        <p class="lecture-list-p" id="list-title-p">講義目次/Lecture List:</p>
                    </div>
                    <div class="lecture-list-row"></div>
                    <div class="lecture-list-row"></div>
                    <div class="lecture-list-row"></div>
                    <div class="lecture-list-row"></div>
                    <div class="lecture-list-row"></div>
                    <div class="lecture-list-row"></div>
                    <div class="lecture-list-row"></div>
                    <div class="lecture-list-row"></div>
                    <div class="lecture-list-row"></div>
                </div>
            </div>
        </div>
        <div class="pagenation"></div>
        <div class="lower">
            <div class="footer">
                <p class="footer-content-p" id="footer-content-p-spec">お問い合わせ</p>
                <p class="footer-content-p">よくある質問</p>
                <p class="footer-content-p">電話番号：010-00000000</p>
                <p class="footer-content-p">メールアドレス：support@minnano-nooto</p>
        </div>
        </div>
    </div>
</body>
</html>