<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/lecture.css">
    <script src="/static/js/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container" style="display: flex; flex-direction: column;">
        <div class="content" style="align-self: center; display: flex; flex-direction: row; gap: 16px; padding-top: 10px; padding-left: 24px; padding-right: 24px; width: 90%;">
            <div class="wrapper-left" style="width: 50%;">
                <div class="title-left" style="display: flex; align-items: center; border: 2px solid #BBBBBB; border-radius: 10px; padding-left: 16px; padding-top: 8px; padding-bottom: 8px; height: 30px;"><p style="font-size: 18px; color: white;">講義目次/Lecture List</p></div>
                <div class="lecture-list" style="display: flex; font-size: 20px; gap: 8px; flex-direction: column; margin: 16px 0;">
                    <button type="" style="background-color: inherit; display: flex; align-items: center; border: 1px solid #BBBBBB; border-left: none; border-right: none; padding: 4px 0; height: 35px;" onclick="divOnClick()"><p style="font-size: 20px; color: white;"></p></button>
                    <button style="background-color: inherit; display: flex; align-items: center; border: 1px solid #BBBBBB; border-left: none; border-right: none; padding: 4px 0; height: 35px;" onclick="divOnClick()"><p style="font-size: 20px; color: white;"></p></button>
                    <button style="background-color: inherit; display: flex; align-items: center; border: 1px solid #BBBBBB; border-left: none; border-right: none; padding: 4px 0; height: 35px;" onclick="divOnClick()"><p style="font-size: 20px; color: white;"></p></button>
                    <button style="background-color: inherit; display: flex; align-items: center; border: 1px solid #BBBBBB; border-left: none; border-right: none; padding: 4px 0; height: 35px;" onclick="divOnClick()"><p style="font-size: 20px; color: white;"></p></button>
                    <button style="background-color: inherit; display: flex; align-items: center; border: 1px solid #BBBBBB; border-left: none; border-right: none; padding: 4px 0; height: 35px;" onclick="divOnClick()"><p style="font-size: 20px; color: white;"></p></button>
                    <button style="background-color: inherit; display: flex; align-items: center; border: 1px solid #BBBBBB; border-left: none; border-right: none; padding: 4px 0; height: 35px;" onclick="divOnClick()"><p style="font-size: 20px; color: white;"></p></button>
                    <button style="background-color: inherit; display: flex; align-items: center; border: 1px solid #BBBBBB; border-left: none; border-right: none; padding: 4px 0; height: 35px;" onclick="divOnClick()"><p style="font-size: 20px; color: white;"></p></button>
                    <button style="background-color: inherit; display: flex; align-items: center; border: 1px solid #BBBBBB; border-left: none; border-right: none; padding: 4px 0; height: 35px;" onclick="divOnClick()"><p style="font-size: 20px; color: white;"></p></button>
                    <button style="background-color: inherit; display: flex; align-items: center; border: 1px solid #BBBBBB; border-left: none; border-right: none; padding: 4px 0; height: 35px;" onclick="divOnClick()"><p style="font-size: 20px; color: white;"></p></button>
                </div>
            </div>
            <div class="vertical-line" style="border-left: 5px solid white; height: auto;"></div>
            <div class="wrapper-right" style="width: 50%;">
                <div class="title-right" style="display: flex; align-items: center; border: 2px solid #BBBBBB; border-radius: 10px; padding-left: 16px; padding-top: 8px; padding-bottom: 8px; height: 30px;"><p style="font-size: 18px; color: white;">講義目次/Lecture List</p></div>
                <div class="lecture-list" style="display: flex; font-size: 20px; gap: 8px; flex-direction: column; margin: 16px 0;">
                    <button style="background-color: inherit; display: flex; align-items: center; border: 1px solid #BBBBBB; border-left: none; border-right: none; padding: 4px 0; height: 35px;"><p style="font-size: 20px; color: white;" onclick=""></p></button>
                    <button style="background-color: inherit; display: flex; align-items: center; border: 1px solid #BBBBBB; border-left: none; border-right: none; padding: 4px 0; height: 35px;"><p style="font-size: 20px; color: white;" onclick=""></p></button>
                    <button style="background-color: inherit; display: flex; align-items: center; border: 1px solid #BBBBBB; border-left: none; border-right: none; padding: 4px 0; height: 35px;"><p style="font-size: 20px; color: white;" onclick=""></p></button>
                    <button style="background-color: inherit; display: flex; align-items: center; border: 1px solid #BBBBBB; border-left: none; border-right: none; padding: 4px 0; height: 35px;"><p style="font-size: 20px; color: white;" onclick=""></p></button>
                    <button style="background-color: inherit; display: flex; align-items: center; border: 1px solid #BBBBBB; border-left: none; border-right: none; padding: 4px 0; height: 35px;"><p style="font-size: 20px; color: white;" onclick=""></p></button>
                    <button style="background-color: inherit; display: flex; align-items: center; border: 1px solid #BBBBBB; border-left: none; border-right: none; padding: 4px 0; height: 35px;"><p style="font-size: 20px; color: white;" onclick=""></p></button>
                    <button style="background-color: inherit; display: flex; align-items: center; border: 1px solid #BBBBBB; border-left: none; border-right: none; padding: 4px 0; height: 35px;"><p style="font-size: 20px; color: white;" onclick=""></p></button>
                    <button style="background-color: inherit; display: flex; align-items: center; border: 1px solid #BBBBBB; border-left: none; border-right: none; padding: 4px 0; height: 35px;"><p style="font-size: 20px; color: white;" onclick=""></p></button>
                    <button style="background-color: inherit; display: flex; align-items: center; border: 1px solid #BBBBBB; border-left: none; border-right: none; padding: 4px 0; height: 35px;"><p style="font-size: 20px; color: white;" onclick=""></p></button>
                </div>
            </div>
        </div>
        <div class="pagenation" style="margin-left: 39.5vw; margin-top: 20px; margin-bottom: 20px;">
            <nav style="text-align: center;">
                <ul style="display: flex; flex-direction: row; gap: 8px;">
                    <li style="width: 30px; height: 30px; list-style: none; background-color: lightgray; padding-top: 5px;"><a href="#" class="page-link" style="text-decoration: none; "><span area-hidden="true" style="color: gray;">&lt</span></a></li>
                    <li style="width: 30px; height: 30px; list-style: none; background-color: lightgray; padding-top: 5px;"><a href="#" class="page-link" style="text-decoration: none; "><span area-hidden="true" style="color: gray;">1</span></a></li>
                    <li style="width: 30px; height: 30px; list-style: none; background-color: lightgray; padding-top: 5px;"><a href="#" class="page-link" style="text-decoration: none; "><span area-hidden="true" style="color: gray;">2</span></a></li>
                    <li style="width: 30px; height: 30px; list-style: none; background-color: lightgray; padding-top: 5px;"><a href="#" class="page-link" style="text-decoration: none; "><span area-hidden="true" style="color: gray;">3</span></a></li>
                    <li style="width: 30px; height: 30px; list-style: none; background-color: lightgray; padding-top: 5px;"><a href="#" class="page-link" style="text-decoration: none; "><span area-hidden="true" style="color: gray;">4</span></a></li>
                    <li style="width: 30px; height: 30px; list-style: none; background-color: lightgray; padding-top: 5px;"><a href="#" class="page-link" style="text-decoration: none; "><span area-hidden="true" style="color: gray;">5</span></a></li>
                    <li style="width: 30px; height: 30px; list-style: none; background-color: lightgray; padding-top: 5px;"><a href="#" class="page-link" style="text-decoration: none; "><span area-hidden="true" style="color: gray;">&gt</span></a></li>
                </ul>
            </nav>
        </div>
        <div class="footer">
            <div class="footer-content" style="text-align: center; color: lightgray;">
                <hr class="footer-content-p" style="width: 50%; margin-top: 0px; margin-bottom: 0px;">
                <p class="footer-content-p" id="footer-content-p-spec" style="font-size: 12px; margin-top: 0px; margin-bottom: 0px;">お問い合わせ</p>
                <p class="footer-content-p" style="font-size: 12px; margin-top: 0px; margin-bottom: 0px;">よくある質問</p>
                <p class="footer-content-p" style="font-size: 12px; margin-top: 0px; margin-bottom: 0px;">電話番号：010-00000000</p>
                <p class="footer-content-p" style="font-size: 12px; margin-top: 0px; margin-bottom: 0px;">メールアドレス：support@minnano-nooto</p>
            </div>
        </div>
    </div>
    
    <script>
        const divOnClick = () => {
            console.log('clicked')
        }
    </script>
</body>
</html>