<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>note</title>
    <script src="/static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/note.css">
</head>
<body>
    <div class="note-content">
        <div class="upper">
            <div class="note-list">
                <div class="note-list-content">
                    <div class="note-list-row" id="list-head"></div>
                    <div class="note-list-row"></div>
                    <div class="note-list-row"></div>
                    <div class="note-list-row"></div>
                    <div class="note-list-row"></div>
                    <div class="note-list-row"></div>
                    <div class="note-list-row"></div>
                    <div class="note-list-row"></div>
                    <div class="note-list-row"></div>
                    <div class="note-list-row"></div>
                </div>
            </div>
            <div class="note-area"></div>
        </div>
        <div class="middle"></div>
        <div class="lower">
            <div class="footer">
                    <p class="footer-content-p" id="footer-content-p-spec">お問い合わせ</p>
                    <p class="footer-content-p">よくある質問</p>
                    <p class="footer-content-p">電話番号：010-00000000</p>
                    <p class="footer-content-p">メールアドレス：support@minnano-nooto</p>
            </div>
        </div>

    </div>

</body>
</html>